.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products-section {
    width: 60%;
}

.checkout-section {
    width: 35%;
    border: 1px solid black;
    padding: 20px;
    background-color: #f0f0f0;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    position: relative; /* Para usar posicionamiento absoluto en el botón de eliminar */
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 25px; /* Tamaño más pequeño */
    height: 25px;
    font-size: 14px; /* Fuente más pequeña */
    position: absolute;
    right: 10px; /* Alineado a la derecha */
    top: 10px; /* Alineado en la parte superior */
    text-align: center; /* Centrar el texto "X" */
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.product-details h4 {
    margin: 0;
}

.total-summary {
    margin-top: 20px;
}

.discount-section, .login-section, .order-summary {
    margin-bottom: 20px;
}

.add-button, .login-button, .checkout-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-button {
    margin-left: 10px;
}

.checkout-button {
    width: 100%;
    margin-top: 20px;
}
