.filter-container {
    border: none; /* Elimina el borde */
    padding: 16px;
    width: 800px;
    background-color: #f8f8f8;
    position: relative;
    margin-top: 60px; /* Agrega un espacio entre el título y el filtro */
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

.filter-menu {
    background: none; /* Fondo transparente */
    border: none; /* Elimina el borde */
    font-size: 1.5rem;
    cursor: pointer;
}

.filter-category summary {
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 8px;
}

.filter-section {
    margin-top: 16px;
}

.filter-section h4 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.categories-list,
.price-list {
    list-style: none;
    padding-left: 0;
}

.category-item {
    margin-bottom: 8px;
    color: #007bff;
    cursor: pointer;
}

.category-item.active {
    font-weight: bold;
    color: red;
}

.price-list li {
    margin-bottom: 8px;
}

.apply-filter-btn {
    background-color: transparent; /* Fondo transparente */
    color: black; /* Cambia el color si es necesario */
    padding: 8px 16px;
    border: none; /* Elimina el borde */
    cursor: pointer;
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.filter-page {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.products-list {
    flex-grow: 1;
    padding: 20px;
    max-width: 1000px;
    margin-left: 20px;
}

.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product_card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-info {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .filter-container {
        width: 100%;
        padding: 10px;
    }

    .products-list {
        margin-left: 0;
    }

    .product_grid {
        grid-template-columns: 1fr;
    }
}
