#login {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/img/login.png'); /* Ajusta la ruta de la imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

#loginOmitir {
  display: flex;
  justify-content: flex-end;
}

#loginOmitir p {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: white;
}
